* {
    box-sizing: border-box;
  }

 header {
    padding: 40px;
    text-align: center;
    color: rgb(51, 13, 102);
    font-size: 50px;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gameplay {
    padding: 40px;
    text-align: center;
    color: rgb(51, 13, 102);
  }

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice-container {
  display: flex;
  text-align: center;
  color:aliceblue;
  margin-bottom: 1px;
  width: 70%;
  font-size: large;
  border: solid 0.5px navy;
  background-color: rgb(31, 113, 146);
  padding: 0%;
  margin: 3px;
  border-radius: 25px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow:20px 20px 50px grey;
}

.prefix {
  color: aliceblue;
  margin: 5px;
  padding-left: px;
  border-radius: 50px;
}

.choice-text {
  width: 100%;
  height: 100%;
}

form {
  display:none;
}

button {
  margin: 5px;
}